<div id="hero">
    <div id="hero_overlay">
        <h1>Jesus</h1> <!-- there goes my hero, watch him as he goes... -->
        <p>The Name Above all Names</p>
    </div>
</div>

<div id="hero_sub_wrap">
    <div class="container">
        <div id="hero_sub" class="clearfix">
            <div id="hero_sub_sidebar">
                <h3>Come Join Us</h3>

                Sunday Night Service <strong>6:00PM</strong><br />
                Wednesday Night Service <strong>7:30PM</strong><br />
                Friday Night Youth Service <strong>7:00PM</strong>
            </div>
            <div id="hero_sub_content">
                About Southside

                Calvary Chapel Southside is a non-denominational, come as you are ministry located on the south side of St Petersburg, Florida. We have a mission to reach the surrounding area with the love of Christ.

                Who is Jesus?

                We believe that Jesus was 100% man and 100% God. He gave the ultimate sacrifice by laying down His life, so that we could have life through Him. Learn more about the God we worship and serve.
            </div>
        </div>
    </div>
</div>