<!--Message Section-->
<section id="message" class="section">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 text-center">
                <h2>
                    For God sent not his Son into the world to condemn the world; but that the world through him might be saved.
                </h2>
                <a href="http://bible.com/111/jhn.3.17.niv">John 3:17</a>
            </div>
        </div>
    </div>
</section>
