<!--Message Section-->
<section id="message" class="section">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 text-center">
                <h2>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut et dolore magna aliqua.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="more" href="about.html"><i class="fa fa-chevron-circle-right fa-2x white">
                </i></a>
            </div>
        </div>
    </div>
</section>
