    <div class="container">
        <div class="row">
            <div class="col-sm-3 service margin-30">
                @HTML.MediaWidget("Genesis 42")
            </div>
            <div class="col-sm-3 service margin-30">
                @HTML.MediaWidget("Genesis 42")
            </div>
            <div class="col-sm-3 service margin-30">
                @HTML.MediaWidget("Genesis 42")
            </div>
            <div class="col-sm-3 service margin-30">
                @HTML.MediaWidget("Genesis 42")
            </div>
        </div>
    </div>
