    <div class="container">
        <div class="row text-center">
            <!--Section 1-->
            <div class="col-sm-3 service margin-30">
                @HTML.MediaWidget("Genesis 42")
            </div>
            <!--Section 2-->
            <div class="col-sm-3 service margin-30">
                <a href="#">
                    <i class="fa fa-heart fa-4x"></i>
                    <h3>Who is Jesus?</h3>
                    <p>
                        We believe that Jesus was 100% man and 100% God. He gave the ultimate sacrifice by
                        laying down His life, so that we could have life through Him.
                        Learn more about the God we worship and serve.
                    </p>
                </a>
            </div>
            <!--Section 3-->
            <div class="col-sm-3 service margin-30">
                <a href="#">
                    <i class="fa fa-map-marker fa-4x "></i>
                    <h3>
                        Come Join Us
                    </h3>
                    <p>
                        Sunday Night Service <strong>6:00PM</strong><br />
                        Wednesday Night Service <strong>7:30PM</strong><br />
                        Friday Night Youth Service <strong>7:00PM</strong><br />
                        <em>(Click for Calendar)</em>
                    </p>
                </a>
            </div>
        </div>
    </div>
