@model List<CalvarySouthside.Podcast.PodcastItem>
    <div class="container">
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-sm-4 service">
                    @HTML.MediaWidget(Model[i])
                </div>
            }
        </div>
        <div class="row margin-30">
            <div class="col-sm-12">
                <a href="/media/sermons">View All Sermons</a>
            </div>
        </div>
    </div>
