<!--Services-->
<section id="services" class="section">
    <div class="container">
        <div class="row text-center">
            <!--Seciton 1-->
            <div class="col-sm-4 service margin-30">
                <a href="#"><i class="fa fa-mobile-phone fa-4x light-gray"></i>
                    <h3>
                        Mobile Responsive</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation.</p>
                </a>
            </div>
            <!--Seciton 2-->
            <div class="col-sm-4 service margin-30">
                <a href="#"><i class="fa fa-thumbs-up fa-4x light-gray"></i>
                    <h3>
                        Built With Bootstrap</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation.</p>
                </a>
            </div>
            <!--Seciton 3-->
            <div class="col-sm-4 service margin-30">
                <a href="#"><i class="fa fa-flag fa-4x light-gray"></i>
                    <h3>
                        Over 249 Icons</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation.</p>
                </a>
            </div>
        </div>
    </div>
</section>
