<!--Testimonial Section-->
<section id="testimonial" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 margin-30">
                <img src="/assets/img/samples/testimonial-img.png" alt="Title">
            </div>
            <div class="col-sm-9">
                <h2>
                    “Lava has been an asset to our company by providing us with a cutting edge look
                    and a web presence that shows off our work and skills.”</h2>
                <div class="testimonial-source pull-right">
                    Jeff | Ceo - Creative Company</div>
            </div>
        </div>
    </div>
</section>
