<!--Twitter Feed-->
<section id="twitter" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <i class="fa fa-twitter fa-4x gray margin-20"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <blockquote class="twitter-tweet" lang="en">
                    <p>
                        Theme Armada New Website Launch <a href="http://t.co/YLbXUFhz5d">http://t.co/YLbXUFhz5d</a></p>
                    &mdash; Theme Armada (themearmada) <a href="https://twitter.com/themearmada/statuses/404968762446970880">
                        November 25, 2013</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-sm-6">
                <blockquote class="twitter-tweet" lang="en">
                    <p>
                        Our sites up and CSSMania <a href="http://t.co/KKaKX75WrH">http://t.co/KKaKX75WrH</a>
                        <a href="https://twitter.com/cssmania">cssmania</a> - Give it a vote if you like
                        it!</p>
                    &mdash; Theme Armada (themearmada) <a href="https://twitter.com/themearmada/statuses/403515461158961152">
                        November 21, 2013</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</section>
