@model List<CalvarySouthside.Podcast.PodcastItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content1" class="section">
    <div class="container">
        <h3>Sermons</h3>

        @foreach (var podcast in Model)
        {
            @HTML.MediaWidget(podcast)
        }
    </div>
</section>