@{
    ViewBag.Title = "Calendar";
}

<section id="content1" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h3>Calendar</h3>

                <div class="responsive-iframe-container">
                    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=680&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=calvarysouthside%40gmail.com&amp;color=%238C500B&amp;ctz=America%2FNew_York" style=" border-width:0 " width="900" height="680" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>