@{
    ViewBag.Title = "Missions";
}
<!--Content-->
<section id="content1" class="section">
    <div class="container">
        <div class="row margin-60">
            <div class="col-sm-12">
                <h3>
                    Missions
                </h3>
                <p class="lead">
                    Some of our Ministries
                </p>
            </div>
        </div>

    </div>
</section>

<section id="twitter" class="section">
    <div class="container">
        <p>
            <strong>Bible studies</strong> meet at the church to discuss the previous week's Sunday message, pray and get to know one another.
        </p>
    </div>
</section>

<section id="latest-work" class="section">
    <div class="container">
        <p>
            <strong>Youth Group</strong>
            Come out and join us every Friday night at 7 p.m. at the church for a great time of worship, fun and a look into the Word. For weekly updates,
            <a href="https://www.facebook.com/pages/Southside-HS-Youth-Group/192563930777222">follow us on facebook</a>.
        </p>
    </div>
</section>

<section id="twitter" class="section">
    <div class="container">
        <p>
            <strong>Basketball Outreach</strong> Saturdays, Coquina Key Park, 10:30 a.m. Men and youth from Calvary Chapel Southside get together with the high school kids in the neighborhood for basketball, lunch and a time of sharing from the Bible. Come join the fun or contact Jim McFall at 727-543-6343 for more information.
        </p>
    </div>
</section>

<section id="latest-work" class="section">
    <div class="container">
        <p>
            <strong>Prison Ministry</strong> Calvary Chapel Southside partners with Calvary Chapel St. Petersburg to minister at Polk Correctional Institute, the first Friday of each month. For security reasons, arrangements must be made in advance by calling Dave Dodge at 727-577-7705.
        </p>
    </div>
</section>

<section id="twitter" class="section">
    <div class="container">
        <p>
            Calvary Chapel Southside provides regular support for
            <strong>Jim and Janice Larson</strong>, missionaries to East Africa. Visit their
            <a href="http://www.thelarsons.webs.com">website</a>
            to learn more or to personally support them.
        </p>

    </div>
</section>
