@{
    ViewBag.Title = "Home Page";
}

<section id="content1" class="section">
    <div class="container">
        <div class="row margin-60">
            <div class="col-sm-12">

            <h3>Pages</h3>

            <ul>
                <li><a href="/layout/threecolumn">3 Column</a></li>
                <li><a href="/layout/fourcolumn">4 Column</a></li>
                <li><a href="/layout/about">About</a></li>
                <li><a href="/layout/blog">Blog</a></li>
                <li><a href="/layout/blogarticle">Blog Article</a></li>
                <li><a href="/layout/fullwidth">Full Width</a></li>
                <li><a href="/layout/home">Home</a></li>
                <li><a href="/layout/icons">Icons</a></li>
                <li><a href="/layout/individualwork">Individual Work</a></li>
                <li><a href="/layout/login">Login</a></li>
                <li><a href="/layout/pricing">Pricing</a></li>
                <li><a href="/layout/services">Services</a></li>
                <li><a href="/layout/signup">Sign Up</a></li>
                <li><a href="/layout/team">Team</a></li>
            </ul>

            </div>
        </div>
    </div>
</section>