@{
    ViewBag.Title = "IndividualWork";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Content-->
<section id="content1" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>
                    Project Title</h3>
            </div>
        </div>
        <div class="row margin-40">
            <div class="col-sm-8">
                <h4>
                    Info</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.</p>
            </div>
            <div class="col-sm-4">
                <h4>
                    Creative</h4>
                <p>
                    Lorem ipsum, dolor amet, consectetur adipisicing</p>
                <br />
                <a class="btn-main" href="services.html"><i class="icon-chevron-right"></i>Launch</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="/assets/img/samples/header1.jpg" class="img-responsive" alt="Title" /></li>
                        <li>
                            <img src="/assets/img/samples/header2.jpg" class="img-responsive" alt="Title" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h5>
                    <a class="more" href="3-column.html"><i class="fa fa-chevron-circle-left"></i>Back To
                        Work</a></h5>
            </div>
        </div>
    </div>
</section>
