@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Content-->
<section id="page-title" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>
                    Pricing</h3>
            </div>
        </div>
    </div>
</section>
<!--Content-->
<section id="content2" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-unstyled pricing-table text-center">
                    <li class="headline">
                        <h2>
                            Basic</h2>
                    </li>
                    <li class="price">$99<small>/month</small></li>
                    <li class="info">2 row section for you package information. You can include all details
                        or icons</li>
                    <li class="features first">Up To 25 Projects</li>
                    <li class="features">10GB Storage</li>
                    <li class="features">Other info</li>
                    <li class="features"><i class="fa fa-ellipsis-h fa-lg"></i></li>
                    <li class="features"><i class="fa fa-ellipsis-h fa-lg"></i></li>
                    <li class="features"><i class="fa fa-check fa-lg"></i></li>
                    <li class="features"><i class="fa fa-check fa-lg"></i></li>
                    <li class="features last btn-main"><a href="#"><span class="white">Sign up now!</span></a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled pricing-table active text-center">
                    <li class="headline">
                        <h2>
                            Popular</h2>
                    </li>
                    <li class="price">$129<small>/month</small></li>
                    <li class="info">2 row section for you package information. You can include all details
                        or icons</li>
                    <li class="features first">Up To 25 Projects</li>
                    <li class="features">10GB Storage</li>
                    <li class="features">Other info</li>
                    <li class="features"><i class="fa fa-ellipsis-h fa-lg"></i></li>
                    <li class="features"><i class="fa fa-ellipsis-h fa-lg"></i></li>
                    <li class="features"><i class="fa fa-check fa-lg"></i></li>
                    <li class="features"><i class="fa fa-check fa-lg"></i></li>
                    <li class="features last btn-main"><a href="#"><span class="white">Sign up now!</span></a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled pricing-table text-center">
                    <li class="headline">
                        <h2>
                            Advanced</h2>
                    </li>
                    <li class="price">$299<small>/month</small></li>
                    <li class="info">2 row section for you package information. You can include all details
                        or icons</li>
                    <li class="features first">Up To 25 Projects</li>
                    <li class="features">10GB Storage</li>
                    <li class="features">Other info</li>
                    <li class="features"><i class="fa fa-ellipsis-h fa-lg"></i></li>
                    <li class="features"><i class="fa fa-ellipsis-h fa-lg"></i></li>
                    <li class="features"><i class="fa fa-check fa-lg"></i></li>
                    <li class="features"><i class="fa fa-check fa-lg"></i></li>
                    <li class="features last btn-main"><a href="#"><span class="white">Sign up now!</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
