@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Content-->
<section id="signup">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-6 col-sm-offset-3 text-center signup">
                <h3>
                    Sign Up</h3>
                <br />
                <ul class="list-inline social-icons-signup">
                    <li><a class="twitter" href="#" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
                    </li>
                    <li><a class="facebook" href="#" target="_blank"><i class="fa fa-facebook fa-3x"></i>
                    </a></li>
                    <li><a class="google" href="#" target="_blank"><i class="fa fa-google-plus fa-3x"></i>
                    </a></li>
                </ul>
                <p>
                    ------------ OR -------------</p>
                <form id="signup-form" class="form-horizontal" method="post" action="#">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fa fa-user"></i></span>
                            <input type="text" id="fname" name="fname" placeholder="Full Name">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fa fa-envelope"></i></span>
                            <input type="text" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="fa fa-lock"></i></span>
                            <input type="Password" id="passwd" name="passwd" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn-main">
                            <i class="fa fa-user"></i>Create My Account</button>
                    </div>
                    <a class="small-message" href="#"><small>Already Registered?</small></a>
                </div>
                </form>
            </div>
            <!--End Col 6-->
        </div>
        <!--End Row-->
    </div>
    <!--End Container-->
</section>
