@{
    ViewBag.Title = "Thank You";
}

<section id="content1" class="section">
    <div class="container">

        <h3>Thank You</h3>

        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Thank You!</strong> We have received your message.
        </div>

    </div>
</section>