.media-widget {
    border:1px solid #b5bfc7;

    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}

    .media-widget h4 {
        margin:0;
        font-size:1.5em;
        color:#5b515a;
    }

    .media-widget time {
        color:#8f9aa1;
        font-style: italic;
        font-family: Georgia, serif;
        margin: 0.25em;
        display:block;
        font-size:0.75em;
        float:left;
    }

    .media-widget .btn-group {
        float:right;
    }