#hero {
    margin-bottom: 0px;
    background: #31363a;
    height: 430px;
    margin-top: 80px;
    text-align: center;
    background: url(../../img/hero/beach2.jpg) no-repeat center center;
    background-size: cover;
}

    #hero #hero_overlay {
        width: 100%;
        height: 100%;
        background: url(/assets/img/hero/jesus.png) center center no-repeat;
    }

        #hero #hero_overlay>* {
            display: none;
        }


#hero_sub_wrap {
    background-color:#ddd;
    border-top:1px solid #fff;
}

#hero_sub {
    margin-top:-2em;
    margin-bottom:2em;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.45);

    background-color:#fff;
}

#hero_sub_sidebar {
    color:#fff;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.5);

    float:left;

    text-align:right;

    background: #523136;
    background: -moz-linear-gradient(top,  #523136 0%, #5b373c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#523136), color-stop(100%,#5b373c));
    background: -webkit-linear-gradient(top,  #523136 0%,#5b373c 100%);
    background: -o-linear-gradient(top,  #523136 0%,#5b373c 100%);
    background: -ms-linear-gradient(top,  #523136 0%,#5b373c 100%);
    background: linear-gradient(to bottom,  #523136 0%,#5b373c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#523136', endColorstr='#5b373c',GradientType=0 );

}

#hero_sub_sidebar h3 {
    color:#ffdfa6;
}

#hero_sub_content {
    background-color:#fff;
    color:#000;

    float:left;
}

#hero_sub_sidebar,
#hero_sub_content {
    padding:2em;
}

    #hero_sub_content p {
        float:left;
    }

    #hero_sub_content img {
        float:right;
        margin-left:2em;
    }

#hero_sub_map_wrapper {
    float:left;
    padding:2em;
}

#hero_sub_map {
    background-image:url("/assets/img/ui/map.png");
    background-position:center center;
    min-height:136px;
    position:relative;
}

    #hero_sub_map a {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        border:4px solid #fff;
    }

        #hero_sub_map a:hover {
            border-color:#f49f67;
            border-color:rgba(244, 159, 103, 0.5);
            transition:none;
        }

        #hero_sub_map a:hover span {
            background-color:#f49f67;
            color:#fff;
        }        #hero_sub_map a span {
            position: absolute;
            top: 0;
            right: 0;
            background-color:rgba(255,255,255,0.9);
            padding:0 6px;
            font-size:0.6em;
            text-transform:uppercase;
            color:#bbb;

            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-bottom-left-radius: 10px;
        }/*-------------------------------------------------*/

#hero_sub_sidebar {
    width: 100%;
    text-align:left;
}

#hero_sub_content {
    width: 100%;
}

#hero_sub_map_wrapper {
    width: 100%;
}

@media (min-width: 480px) {
    #hero_sub_sidebar {
        width: 100%;
        text-align:right;
    }

        #hero_sub_sidebar h3 {
            float: left;
        }

    #hero_sub_content {
        width: 100%;
    }

    #hero_sub_map_wrapper {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #hero_sub_sidebar {
        width:100%;
    }

        #hero_sub_sidebar h3 {
            float:left;
        }

    #hero_sub_content {
        width:60%;
    }

    #hero_sub_map_wrapper {
        width:40%;
    }
}

@media (min-width: 992px) {
    #hero_sub_sidebar {
        width:30%;
    }

        #hero_sub_sidebar h3 {
            float:none;
        }

    #hero_sub_content {
        width:40%;
    }

    #hero_sub_map_wrapper {
        width:30%;
    }

    .hero_sub_content_part2 {
        display:none;
    }
}

@media (min-width: 1200px){
    #hero_sub_sidebar {
        width:25%;
    }

    #hero_sub_content {
        width:47%;
    }

    #hero_sub_map_wrapper {
        width:28%;
    }

    .hero_sub_content_part2 {
        display:inline;
    }
}
