label
{
    padding-top:7px;
    display:inline-block;
}

textarea
{
    line-height:1.5em;
}

/* Text input
=========================================================================================================== */

input[type=text],
input[type=password],
textarea
{
    border:1px solid #d8d8d8;
    border-top-color:#c5c5c5;
    border-bottom-color:#e8e8e8;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    padding: 6px 8px;
    margin-bottom: 4px;
    
    color:#777;
    
    background: #ececec;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ececec 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top,  #ececec 0%,#f3f3f3 100%);
    background: -o-linear-gradient(top,  #ececec 0%,#f3f3f3 100%);
    background: -ms-linear-gradient(top,  #ececec 0%,#f3f3f3 100%);
    background: linear-gradient(to bottom,  #ececec 0%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#f3f3f3',GradientType=0 );

}

input[type=text]:hover,
input[type=password]:hover,
textarea:hover
{
    color:#555;
    border-color:#a1a1a1;
    border-top-color:#b1b1b1;
    border-bottom-color:#bebebe;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus
{
    outline:none; /* remove chrome's orange border */
    
    border-color:#9d9d9d;
    border-top-color:#797979;
    border-bottom-color:#bcbcbc;
    
    color:#222;
    
    background: #f6f6f6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f6f6f6 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
}




/* Buttons
=========================================================================================================== */

input[type=submit]
{
    border:1px solid #bd713f;
    
    border-top-color:#d17d45;
    border-bottom-color:#a76437;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    padding:6px 8px;
    
    font-weight:bold;
    color:#fff;
    text-shadow:0 1px 0 #754627;
    
    background: #f4c694;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YzY5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZWRhMzUzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U4OGM0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #f4c694 0%, #eda353 1%, #e88c4d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4c694), color-stop(1%,#eda353), color-stop(100%,#e88c4d));
    background: -webkit-linear-gradient(top,  #f4c694 0%,#eda353 1%,#e88c4d 100%);
    background: -o-linear-gradient(top,  #f4c694 0%,#eda353 1%,#e88c4d 100%);
    background: -ms-linear-gradient(top,  #f4c694 0%,#eda353 1%,#e88c4d 100%);
    background: linear-gradient(to bottom,  #f4c694 0%,#eda353 1%,#e88c4d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4c694', endColorstr='#e88c4d',GradientType=0 );
    
}