/* Bootstrap overrides
====================================================================================================== */

textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {
    border-color: rgba(233, 141, 77, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px 2px rgba(233, 141, 77, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(233, 141, 77, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(233, 141, 77, 0.6);
}


/* Layout Patterns
====================================================================================================== */

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

/* golden ratio */
.golden-long { width:62%; float:left; }
.golden-short { width:38%; float:left; }

/* thirds */
.one-third { width:33%; float:left; }
.two-third { width:67%; float:left; }

/* fourths */
.one-fourth { width:25%; float:left; }
.two-fourth { width:50%; float:left; }
.three-fourth { width:75%; float:left; }

/* custom grid - inside 900px container */
.grid.one-third { width:286px; margin:0 10px; }
.grid.two-third { width:594px; margin:0 10px; }

.grid.one-fourth { width:210px; margin:0 10px; }
.grid.two-fourth { width:440px; margin:0 10px;}
.grid.three-fourth { width:670px; margin:0 10px;}

.grid.golden-short { width:326px; margin:0 10px; }
.grid.golden-long { width:554px; margin:0 10px; }

.group>.grid:first-child { margin-left:0; }
.group>.grid:last-child { margin-right:0; }

.text-right { text-align:right; }


/* Common HTML Elements
====================================================================================================== */

a, a:visited
{
    font-weight:bold;
    color:#0b6868;
}

a:hover
{
    color:#6da723;
    text-decoration:none;
}

/* http://stackoverflow.com/questions/273964/how-to-change-background-color-on-text-links-on-hover-but-not-image-links */
a img{ vertical-align:text-bottom; }

body
{
    background-color:#fbfbfa;
    border-top:4px solid #e98d4d;
    color:#505153;
    line-height:1.6em;
}

table
{
    width:100%;
}

table.align-top td
{
    vertical-align:top;
}

input[type=text],
input[type=password],
textarea 
{
    /* http://paulirish.com/2012/box-sizing-border-box-ftw */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    /* adjusted from 20 to 30 to match the rest of bootstrap's elements */
    height:30px;
}

textarea
{
    width:100%;
    height:auto;
    resize:vertical;
}

/* Site Structure
====================================================================================================== */

#container
{
    background-color:#fff;
    border:1px solid #ebeaea;
    width:900px;
    margin:1em auto;
    padding:40px;
}

header
{
    position:relative;
    border-bottom:1px solid #ebeaea;
    margin-bottom:40px;
    padding-bottom:40px;
}

header h1
{
    width:285px;
    height:79px;
    margin:0;
}

header h1 a
{
    display:block;
    width:100%;
    height:100%;
    background-image:url(../img/logo.png);
}

header h1 a strong
{
    display:none;
}

header nav
{
    position:absolute;
    top:28px;
    right:0;
}

header nav ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}

header nav ul li
{
    float:left;
    margin-left:1em;
}

header nav ul li a,
header nav ul li a:visited
{
    color:#505153;
    text-decoration:none;
}

header nav ul li a:hover
{
    color:#e98d4d;
}


/* Content
===================================================*/
#content h2
{
    margin-top: 0;
    margin-bottom:40px;
    font-size:2em;
}

#content h2 span
{
    background-color: #505153;
    color: white;
    padding: 0.075em 0.25em;
    letter-spacing: -0.1em;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/* Footer
===================================================*/
footer
{
    border-top:1px solid #ebeaea;
    margin-top:40px;
    padding-top:40px;
    color:#777;
    font-size:0.9em;
}

footer a
{
    color:#777;
    font-weight:normal;
    text-decoration:none;
    border-bottom:1px dotted #999;
}

footer a:hover
{
    color:#222;
    border-bottom:1px solid #222;
}

footer p
{
    margin-top:0;
}


/* Toggle Switch
=========================================================================================================== */

.ToggleSwitch {
    width:35px;
    height:15px;
    padding:2px;
    background-image:url("/assets/img/ui/ToggleSwitch.png");
    font-size:0;
    line-height:0;
    float:left;
    margin:4px 10px 10px 0;
    }

.ToggleSwitch>div
{
    width:35px;
    height:15px;
    position:relative;
    overflow:hidden;
}
    
.ToggleSwitch a, .ToggleSwitch a.ToggleSwitchOn {
    position:absolute;
    display:block;
    width:60px;
    height:15px;
    margin:0;
    background-image:url("/assets/img/ui/ToggleSwitch.png");
    background-position:0 -19px;
    outline:0 !important;
    }
    .ToggleSwitch a.ToggleSwitchOff {
        /* background-position:-25px -19px; */
        }
