@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Content-->
<section id="content1" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3>
                    About
                </h3>
                <p class="lead">
                    See who we are
                </p>
                <p>
                    Calvary Chapel Southside is a non-denominational, come as you are ministry located on the south side of St Petersburg, FL. We have a mission to reach the surrounding area with the love of Christ. We offer full band, contemporary praise and worship music and an energetic message from God's Holy Word. Please come join us on Sunday nights at 6 p.m., and bring a friend.
                </p>
                <br />
                <div class="margin-30">
                    <a class="btn btn-success" href="/contact"><i class="fa fa-envelope-o"></i> Contact Us</a>
                </div>
            </div>
            <div class="col-sm-5">
                <p>
                    <img src="/assets/img/photos/191_dougbecky.jpg" />
                </p>

                <p>
                    Pastor Doug and his wife Becky
                </p>

                Board of Elders:
                <ul>
                    <li>Doug Dodge</li>
                    <li>Jim McFall</li>
                    <li>Larry Kaser</li>
                    <li>Ben Schantz</li>
                    <li>Kevin Schneider</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Message Section-->
<section id="message" class="section">
    <div class="container">
        <div class="row margin-40">
            <div class="col-sm-12 text-center">
                <h2>
                    For God did not send his Son into the world to condemn the world, but to save the world through him.
                </h2>
                <a href="http://bible.com/111/jhn.3.17.niv">John 3:17</a>
            </div>
        </div>
    </div>
</section>
