/* ==========================================================================
   Contact Page styles
   ========================================================================== */

#map {
    height: 265px;
    padding-bottom: 0;
}

    #map > iframe {
        background-color: transparent;
        border: medium none;
        height: inherit;
        overflow: hidden;
        width: 100%;
    }


