@{
    ViewBag.Title = "Brand Kit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content1" class="section">
    <div class="container">

        <h3>Brand Kit</h3>

        We have put together a collection of brand assets for you to download and use for publication purposes. 
        Please respect our copyrights and/or trademarks (and say really great things about us) - that's all we ask.

    </div>
</section>