@{
    ViewBag.Title = "Brand Kit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content1" class="section">
    <div class="container">

        <h3>Brand Kit</h3>

        Here is a collection of brand assets for you to download and use for publication purposes.
        If for any reason you need a logo, please use one included here. Thank you.

        @*
            Vector + Raster
            - Color
            - Black
            - White
        *@
    </div>
</section>